

{% block body %}
<div style="width: 600px;  padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #C0C0C0;">
    <h1>Liste des questions </h1>

    <table class="table">
        <thead>
        <tr>
            <th bgcolor="#556b2f">Id</th>
            <th bgcolor="556b2f">Question</th>
            <th bgcolor="556b2f">Type</th>

        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.type }}</td>



            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
