{% extends "base.html.twig" %}

{% block title %}Produit index{% endblock %}
{% block body %}
<tr> </tr>


    <h1>Produit index</h1>
    <div class="d-flex align-items-center"><input class="form-control" type="search" id="search" placeholder="Search by Nom">
        <a  href="{{ path('searchrdv') }}"><i class="fa fa-sort"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><i class="fa fa-bullhorn"></i> Id</th>
                <th>Nom</th>
                <th><i class="fa fa-bookmark">Prix</th>
                <th>Image</th>
                <th>Quantite</th>
                <th>Avis</th>
                <th>actions</th>
            </tr>
             <tbody id="all">
             {% include 'produit/produitajax.html.twig' %}
        </tbody>
              <tbody align="left" border="2" id="search">
        </tbody>
        </thead>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){

                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('searchrdv') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
    </script>
    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
