{% extends 'base2.html.twig' %}
{% block body %}

<!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>Statistics</h3>
            </div>

            <div class="custom-bar-chart">
              <ul class="y-axis">
             <li><span>100%</li></span>
             <li><span>80%</li></span>
             <li><span>60%</li></span>
             <li><span>40%</li></span>
             <li><span>20%</li></span>

              </ul>
              



{% endblock %}